main
{
	background:#CCC;
	color:#000;
	text-align:center;
	text-shadow:3px 7px 5px #F00;
}
*
{
	box-sizing:border-box;
}
#post
{
	background:#EEE;
	color:#000;
	width:70%;
	float:left;
	

}
#post #long
{
	width:30px;
}
#clear
{
	clear:both;
}
#over
{
	background:#AAA;
	width:300px;
	height:200px;
	padding:10px;
	margin:100px auto;
	/*word-wrap:break-word;*/
	overflow:hidden;
	text-overflow:ellipsis;
	/*(transform:rotate(30deg);
	/*transform:translate(40px,-130px);  يتحرك من مكامه */
	
}
#over:hover
{
	transform:scale(2,1.5) translate(40px,-130px) rotate(30deg) skew(10deg,40deg);
}

aside
{
	background:#AAA;
	width:30%;
	float:right;

	
}
figure
{
	background:#CCC;
	margin:20px;
	padding:10px;
	border:4px solid #CCC;
	width:700px;
}
figure figcaption
{
	color:red;
	font-size:20px;
	font-family:toham;
	font-style:italic;
	text-decoration:underline;
	font-weight:bold;
	text-align:center;
}
#input
{
	display:block;
	margin:10px;

}
circle:hover
{
	fill:#080;
	stroke:#000;
	stroke-width:3px;
}
svg
{
	width:500px;
	height:400px;
	background-color:#AAA;
	padding:10px;
	border-radius:0 20px 0 0;
	box-shadow:10px 10px 7px #000,  	/*7 درجه الظل blur */
	           -5px -5px 6px blue ;
		   
}
canvas
{
	margin-top:10px;
	border:1px solid #CCC;
	display:block;
}
aside img
{
	border-radius:50%;
	border:2px solid #FFF;
	box-shadow:7px 7px 7px #CCC,
	           -7px -7px 7px #CCC;		   
}
aside img:hover
{
	transform:matrix(2,.5,-.5,1.5,-300,30);
}
div#per
{
	perspective: 600px;
}
#pic
{
	margin-left:300px;
}
#pic:hover
{
    /*transform:/*translate3d(0,0,300px) scale3d(1,1,3) rotatey(30deg);*/
	transform:rotate(30deg);
	transform-origin:100px 200px;
}
div#rania
{
	perspective: 600px;
}
#card
{
	width:200px;
	height:200px;
	margin:50px auto;
	position:relative;
	transform-style:preserve-3d;
	transition:all 1s ease-in-out;/*property duration timing-function  [delay الزمن الذي ياخذه لكي يعمل hover] */
	/*transition-timing-function:ease liner ease-in ease-out ease-in-out*/
}
#card:hover
{
	transform:rotatey(180deg);
}
#card > div
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    border-radius:20px;
	padding:10px;
	border:3px solid #000;
	text-align:center;
}
#front
{
	z-index:2;
	background:red;
	backface-visibility:hidden;
}
#back
{
	z-index:1;
	background:#080;
	transform:rotatey(180deg);
	backface-visibility:hidden;
}
div#re
{
	background:#fff;
	color:#00FFFF;
	width:300px;
	height:300px;
	overflow:auto;
	background-attachment:fixed;
	border:4px dotted #A32638;
	font-size:30px;
	resize:both;/*hoerezontal vertacal */	
	opacity:.3;
}
#container
{
	width: 800px;/*220px;*/
	height:400px;
	background:#CCC;
	margin:50px auto;
	display:flex;
	padding:10px;
	/*flex-direction:row;	/*column-reverse*/ /*row-reverse*/
	/*flex-wrap:wrap;*/
	/*flex-flow:row-reverse wrap /*flex-direction flex-wrap*/
	/*justify-content:space-around /*space-between center flex-start  flex-end   بالعرض*/
	/*align-items:center  /* flex-start   flex-end بالطول  */ 
	/*align-content: flex-end /*space-between center flex-start  space-around*/
}
#container > div
{
    width:200px;
	max-height:100px;
	padding:10px;
	background:#444;	
}
#container #one
{
	background:red;
	order:3;
}
#container #two
{
	background:blue;
	order:1;
}
#container #three
{
	background:#080;
	order:2;
}
#colum
{
	/*-webkit-column-count:4;*/
	 column-count:4;
	/*-webkit-column-gap:100px;*/
	 column-gap:100px;
	 column-rule:5px dotted #080;
	/* column-width:500px;*/
}
#colum h2
{
	column-span:all
}
#ain
{
	width:100px;
	height:100px;
	background-color:red;
	position:absolute;
	animation:moving 5s 3 linear;
	animation-delay:3s;
	animation-fill-mode:backwards; 
}
#ani
{
	width:100px;
	height:100px;
	background-color:#080;
	position:absolute;
	border-radius:50%;
	animation:moving 5s 3 ease-in-out;/*ease ease-in ease-out ease-in-out*/
	animation-delay:4s;
	animation-fill-mode:forwards; /*backwards both */
}
@keyframes moving
{

	0%{
		left:30;
	   
	}
	25%{
		left:50;
		
	}
	50%{
		left:100px;
		
	}
	75%{
		left:150px;
	
	}
	100%{
		left:200;
		
	}
}
#loading
{
	width:100px;
	height:100px;
	margin:50px auto;
	position:relative;
}
#loading span
{
	position:absolute;
	width:10px;
	height:5px;
	bottom:0;
	background-color:blue;
	animation:waving 1.5s infinite ease-in-out;
}
#loading span:nth-of-type(2){
	left:11px;
	animation-delay:.3s
}
#loading span:nth-of-type(3){
	left:22px;
	animation-delay:.5s
}
#loading span:nth-of-type(4){
	left:33px;
	animation-delay:.7s
}
#loading span:last-of-type{
	left:44px;
	animation-delay:.9s
}
@keyframes waving
{
	0%,50px%,100px{
		height:5px;
		background-color:blue;
		transform:translateY(0);
	}
	25%{
		height:50px;
		background-color:#080;
		transform:translateY(15px);
	}
}
ul ~ h3
{
	color:#0F0;
}
[id^="long"]
{
	color:blue;
	font-size:30px
}
[id$="ver"]
{
	color:#080
}
section:not(form)
{
	text-decoration:line-through;
}
/* section :first-child   last-child*/
/*section div :first-of-type   last-of-type*/

#re p:nth-child(/*odd even n+number -n+number */ 4)
{
	color:#080;
	font-weight:bold;
}

/* #re p:nth-child(n+2):nth-child(-n+8)   range  هيلون من 2 لحد 8*/
