p
{
	color:red;
	font-size:30px;
	
	
}
#one
{
	color:blue;
	font-size:10px;
	text-align:center
	
}
#two
{
	
	font-size:20px;
	/*border-top:2px dotted #465;/*solid dashed double*/
	background:#676767;
	border-width:3px 4px 5px 6px ; /*top right bottom lift*/
	border-style:solid dotted double dashed;
	border-color:red green yellow black;
}
#thre
{
	background:#00f;
	color:#fff;
	/*margin:10px 20px;*/
	width:400px;
	margin:auto;
	padding:10px 20px 30px 40px
}
div
{
	height:300px;
	width:300px;
	background-image:url('Capture.PNG');
	background-repeat:no-repeat;
	border:5px solid red;
	background-attachment:fixed;
	background-position:center center;
	background-position:70% 40%
	
	
}
#first
{
	width:400px;
	height:400px;
	color:#97690;
	background-color:998874;
	border:3px solid #000fff;
	direction:ltr /*rtl*/;
	letter-spacing:5px;
	background-attachment:fixed;
	padding:10px
}
h4
{
	line-height:50px;
	text-decoration:line-through/*overline*/ /*underline*/;
	text-indent:50px
}
h3
{
	text-transform:uppercase/*capitalize*/;
	word-spacing:40px;
	letter-spacing:30px
}
h2
{
	font-family:"time new roman", arial , tahoma;
	font-style:italic;
	font-size:20px/*large*/;
	font-weight:900
	
	/*font:arial italic 20px 900*/
}
a:hover
{
	color:red;
	text-decoration:line-through
}
a:active
{
	color:green;
	text-decoration:overlineline
}
ul
{
	margin:10px;
	list-style-type:circle;
	list-style-image:url('Capture.PNG');
	border:3px solid #00f
	/*list-style:circle inside url('Capture.PNG') */
	
}
ul li
{
	border:2px solid black;
	list-style-position:inside
}
span
{
	display:block /*inline none*/
}
#lef
{
	float:left
}
#cen
{
	float:center
}
#rig
{
	float:right
}
#thre:before
{
	content:"i ask you";
	color:red;
}
#thre:after
{
	content:"you reply me";
	color:green;
}
#another
{
	background:#765878;
	color:back;
	padding:10px;
	margin:20px;
	border:3px dotted black;
	width:300px;
	height:300px;
	overflow:auto; /* scroll */
	cursor:pointer;
}
#another span
{
	background:#676767;
	color:#00f;
	padding:10px;
	
}
h4:first-letter
{
	background:red;
	color:#fff;
	padding:10px;
	margin:20px;
	border:2px dashed black;
}
h4:first-line
{
	color:green;
}
#another p:first-child 
{
	color:#ff0;
}
a[title]
{
	color:green
}
@media print /*screan all */
{
	#two
	{
		color:black;
		font-size:30px
	}
}

