h1
{
	background:#f0f;
	color:#fff;
	padding:10px;
	width:700px;
	margin:auto;
	border:2px solid black;
	
}
form
{
	background:#DDD987;
	color:#000;
	padding:10px;
	margin:20px;
	border:3px double black;
	width:600px;
	
}
h2
{
	text-decoration:underline;
	text-transform:capitalize;
	font-style:italic;
	color:#0f0567;
}
table
{
	font-size:30px;
	padding:10px;
	border:5px dashed black;
	color:#fff;
	background:#890f46;
	width:500px;
	height:300px;
}
span
{
	text-transform:capitalize;
	color:black;
	font-size:40px;
	font-weight:bold;
	font-style:italic;
}
ol li
{
	color:black;
	font-size:20px;
	word-spacing:3px;
}
#one
{
	
	color:#000;
	font-size:20px;

}
#one:first-line
{
	color:red;
}
div
{
	background:#fff;
	color:#00FFFF;
	width:300px;
	height:300px;
	overflow:auto;
	background-image:url('Capture.PNG');
	background-attachment:fixed;
	border:4px dotted #A32638;
	font-size:30px;
}
div:first-line
{
	color:black;
}
h5
{
	color:blue;
	text-transform:capitalize;
	letter-spacing:5px;
	word-spacing:3px;
	text-align:center;
	text-decoration:line-through;
	font-size:50px;
	font-weight:bold;
	font-style:italic;
}
mark
{
	color:#000;
	font-size:30px;
	font-weight:bold;
}
a
{
	font-size:50px;
}
a:hover
{
	color:#fff;
	text-decoration:line-through;
}
h6
{
	background:#A32638;
	color:black;
	padding:10px;
	margin:30px;
	width:100px;
	float:left;
}
#ri
{
	float:right;
}